<!-- The MIT License (MIT)
      Copyright (c) 2016 James Finlay
      Permission is hereby granted, free of charge, to any person obtaining a copy
      of this software and associated documentation files (the "Software"), to deal
      in the Software without restriction, including without limitation the rights
      to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
      copies of the Software, and to permit persons to whom the Software is
      furnished to do so, subject to the following conditions:
      The above copyright notice and this permission notice shall be included in all
      copies or substantial portions of the Software.
      THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
      IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
      FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
      AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
      LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
      OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
      SOFTWARE.
    -->
<div class='container'>
    <h1>Spotify Importer</h1>

    <% if authenticated? %>

        <p>Welcome, <%= session[:user_name] %>!</p>
        <p>We have found <%= spotifyTrackCount %> item(s) already in your Spotify library, and see you have <span data-bind='text: trackCount'></span> item(s) to import.</p>
        <h4>Checking files... <span data-bind='text: trackIndex'></span>/<span data-bind='text: trackCount'></span> items.</h4>
        <button data-bind="visible: readyToTransfer" type="button" class="btn btn-primary">Transfer items</button>

        <hr />

        <table class='table'>
            <thead><tr>
                <th/><th>TrackName</th><th>Artist</th><th>Album</th><th>Results Found</th><th>SpotifyId</th>
            </tr></thead>
            <tbody data-bind="foreach: tracks">
                <tr data-bind="css: className">
                    <td><span data-bind="css: glyphicon"></span></td>
                    <td data-bind="text: title"></td>
                    <td data-bind="text: artist"></td>
                    <td data-bind="text: album"></td>
                    <td data-bind="text: results"></td>
                    <td data-bind="text: spotify_id"></td>
                </tr>
            </tbody>
        </table>

    <% else %>
        <a href='/authenticate'>Login with Spotify</a>
    <% end %>


    <hr />
    <p>Copyright (c) 2016 James Finlay</p>

</div>